{% extends 'back.html.twig' %}

{% block title %}Statistiques{% endblock %}


{% block container %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">



    <div class="container">
        <h1>Statistiques: nombre des formations dans chaque event</h1>


        <canvas id="formations" width="400" height="100"></canvas>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <script>
        let categories = document.querySelector("#formations")
        let categGraph = new Chart(formations, {
            type: "pie",
            data: {
                labels: {{ titles|raw }},
                datasets: [{
                    label: "Répartition des events",
                    data: {{ formationsCount|raw }},
                    backgroundColor:'#cc647e',

                }]
            }
        })

    </script>

{% endblock %}