{% extends 'back.html.twig' %}

{% block title %}ModifierQuestion{% endblock %}

{% block container %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Modifier</button>
    {{ form_end(form) }}
{% endblock %}