<form method="post" action="{{ url('ajout_article') }}">
    Titre <input type="text" name="titre"/> <br/>
    Description <input type="text" name="description"/> <br/>
    Image <input type="text" name="image"/> <br/>

    <input type="submit" value="Ajouter"/>
</form>